# dependencies (cualquier proyecto dentro del monorepo)
**/node_modules/

# build output Astro
**/dist/
**/.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb

# environment variables
.env
.env.production
.env.local

# OS / editores
.DS_Store
Thumbs.db
.idea/
*.local

.vscode